/* Apply styles to the body element */
body {
  margin: 0; /* Remove default margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Set a stack of system and web-safe fonts for better performance and consistency across platforms */
  -webkit-font-smoothing: antialiased; /* Improve text rendering on WebKit browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Improve text rendering on Firefox on macOS */
}

/* Apply styles to the code element */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Set a stack of fonts suitable for displaying code, using monospaced fonts for better readability */
}
